
  <%if notice !=nil%>
  <div class="alert alert-success">
    <%= notice %>
  </div>
  <%end%>
<h1><%= "My Project: #{@project.name}"%></h1>


    <ol class="breadcrumb">
      <li><%=link_to "Projects", projects_path%></li>
      <li><%= link_to " #{@project.name}", project_path(@project) %></li>
      <li>Memberships</li>
    </ol>
    <% if @role == "Owner" %>
      <%= render "form" %>
    <% else %>

      <table>
        <tbody>
          <% @memberships.each do |membership| %>
          <tr>
          <td><%= membership.user.full_name%></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
