<%= form_for(@task, {class: "form-horizontal center"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>
    <div class="form-group">
      <div class="col-sm-1">
        <%= f.label :description, class: "control-label"%>
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <%= f.text_field :description, class: "form-control"%>
      </div>
      <br>
      <br>
    </div>
      <div class="form-group">
        <div class="col-sm-1">
          <%= f.label :date, class: "control-label"%>
        </div>
          <div class="col-sm-5 col-sm-offset-1">
            <%= f.date_field :date, class: "form-control" %>
          </div>
          <br>
          <br>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2">
        <% unless current_page?(new_task_path) %>
          <div class="chckshift"><%= f.check_box :complete%>
            <%= f.label :complete, class: "control-label"%>
          </div>
        <%end%>
        </div>
      </div>
        <div class="actions col-sm-offset-2">
          <%= f.submit class: 'btn btn-primary'%>
        </div>
<% end %>
