<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <div class="row">
        <div class="col-md-8">
        <%= f.label :description, class: "col-md-2"%>
        <%= f.text_field :description, class: "col-md-6"%>
      </div>
      </div>
      <div class="row bill">
        <div class="col-sm-offset-1">
        <% unless current_page?(new_task_path) %>
          <%= f.check_box :complete%>
          <%= f.label :complete%>
        <%end%>
      </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <%= f.label :date, class: "col-md-2"%>
          <%= f.date_field :date, class: "col-md-4"%>
        </div>
      </div>

      <div class="row"
        <div class="actions">
          <%= f.submit class: 'btn btn-primary col-md-offset-1'%>
        </div>
      </div>
    </div>
  </form>
<% end %>
