<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-horizontal" role="form">
  <div class="form-group">
      <div class="field">
        <%= f.label :description, class: "col-sm-2"%>
        <%= f.text_field :description, class: "col-sm-5"%>
    <br></br>
    <div>
      <% unless current_page?(new_task_path) %>
        <%= f.check_box :complete, class: "col-sm-2" %>
        <%= f.label :complete, class: "col-sm-2"%>
      <%end%>
      </div>
      <%= f.date_field :date%>
      <%= f.label :date%>
      <br></br>
      <div>
      <div class="actions">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
    </div>
    </div>
<% end %>
</form>
