<div class="outercontainer">
    <div class="container">
      <div class="row">
        <div class="col-md-11">
            <h1>Listing tasks
              <button type="button" class="btn btn-info pull-right">
              <%= link_to 'New Task', new_task_path%>
              </button>
            </h1>
        </div>
      <div class="row">
        <div class="col-md-11">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Description</th>
                  <th colspan="3"></th>
                </tr>
              </thead>


              <tbody>
                <% @tasks.each do |task| %>
                <tr>
                  <td><%= task.description %></td>
                  <td><button type="button" class="btn btn-success"><%= link_to 'Show', task %></button></td>
                  <td><button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_task_path(task) %></button></td>
                  <td><button type="button" class="btn btn-danger"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
                </tr>
                <% end %>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
