<div class="outercontainer">
      <div class="page-header">
      <div class="row">
        <div class="col-md-12">
            <h1>Listing tasks
              <small><button type="button" class="btn btn-info pull-right"><%= link_to 'Create Task', new_task_path, class: "btn-info"%></button>
              </small>
            </h1>
        </div>
      </div>
     </div>
      <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class"col-md-8">Description</th>
                  <th>Complete</th>
                  <th>Date</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @tasks.each do |task| %>
                <tr>
                  <td class"col-md-8"><%= task.description %></td>
                  <td><%= task.complete.to_s %> </td>
                      <%if task.date%>
                      <td><%= task.date.strftime("%m/%d/%Y")%></td>
                      <%else %>
                        <td><%=task.date%></td>
                      <%end%>
                      </td>
                  <td>
                    <div class="pull-right">
                      <button type="button" class="btn btn-primary">
                      <%= link_to 'Show', task, class: "btn-primary" %></button>
                      <button type="button" class="btn btn-warning">
                      <%= link_to 'Edit', edit_task_path(task), class: "btn-warning" %></button>
                      <button type="button" class="btn btn-danger">
                      <%= link_to 'Destroy', task, class: "btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></button>
                    </div>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
        </div>
      </div>
