<div class="outercontainer">
    <div class="container-fluid">
      <% if notice == "Task was successfully created."%>
        <p id="notice" class="alert alert-success"><%= notice %></p>
      <%end%>
      <br></br>
      <p>
        <strong>Description: </strong>
        <strong class="tsize"><%= @task.description%></strong>
      </p>

      <p>
        <strong>Complete: </strong>
        <strong class="tsize"><%=@task.complete%></strong
      </p>

      <p>
        <strong>Due Date: </strong>
        <strong class="tsize"><%=@task.date%></strong>
        </p>
      </p>
      <br></br>
    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', tasks_path %>
    </div>
