
  <% if notice == "Task was successfully created." || notice == "Task was successfully destroyed." || notice == "Task was successfully updated."%>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <%end%>
    <h2 class="page-header"><%= @task.description%><%= link_to 'Edit', edit_project_task_path(@project,@task), class: "btn btn-info pull-right" %></h2>
    <ol class="breadcrumb">
      <li><%=link_to "Projects", projects_path%></li>
      <li><%= link_to " #{@project.name}", project_path(@project) %></li>
      <li><%= link_to "Tasks", project_tasks_path(@project)%></li>
      <li><%= "#{@task.description}" %> </li>
    </ol>



    <strong>Due Date: </strong>
    <%if @task.date != nil %>
      <strong class="tsize"><%= @task.date.strftime("%m/%d/%Y")%></strong>
    <%else%>
      <strong class="tsize"><%= @task.date%></strong>
    <%end%>
<br>
    <strong>Complete: </strong>
    <strong class="tsize"><%=@task.complete%></strong

  <br>
  <br>




            <h2>Comments</h2>

  <% @comments.each do |comment| %>
      <div class="container shifty">

        <div class="col-sm-2">
          <% if comment.user_id %>
            <%= link_to comment.user.full_name, user_path(comment.user.id)%>
          <% else %>
            <%= "(deleted user)" %>
          <% end %>
          <br>
          <text class= "text-muted"><%="#{time_ago_in_words(comment.created_at)} ago"%></text>
        </div>

        <div class="col-sm-6">
          <%=comment.description %>
        </div>

      </div>

  <% end %>

<%= form_for [@task, @comment], url: { :action => "create_comment"} do |f| %>
      <div class="container-fluid form-group">
        <div class="col-md-offset-2 col-md-10 shift">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
      <div class="container-fluid form-group">
            <div class="col-md-offset-2 shift">
            <%= f.submit "Add Comment", class: "btn btn-primary" %>
        </div>
      </div>
<% end %>
