<div class="container-fluid">
  <% if notice == "Task was successfully created." || notice == "Task was successfully destroyed." || notice == "Task was successfully updated."%>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <%end%>
    <br>
    <br>
    <h2 class="page-header"><%= @task.description%><%= link_to 'Edit', edit_project_task_path(@project,@task), class: "btn btn-primary pull-right" %></h2>
    <ol class="breadcrumb">
      <li><%=link_to "Projects", projects_path%></li>
      <li><%= link_to " #{@task.description}", project_task_path(@project,@task) %></li>
      <li>Tasks</li>
    </ol>

  <p>
    <strong>Complete: </strong>
    <strong class="tsize"><%=@task.complete%></strong
  </p>

  <p>
    <strong>Due Date: </strong>
    <%if @task.date != nil %>
      <strong class="tsize"><%= @task.date.strftime("%m/%d/%Y")%></strong>
    <%else%>
      <strong class="tsize"><%= @task.date%></strong>
    <%end%>
    </p>
  </p>
  <br></br>
  <table>
    <tr>

  <% @comments.each do |cill| %>
    <table>
      <tr>
        <td><%= cill.user.full_name %> <%= cill.description %></td>
  <% end %>
      </tr>
    </table>

    </tr>
  </table>
<%= form_for [ @comment], url: { :action => "create_comment" } do |f| %>
      <%= f.label :description%>
      <%= f.text_area :description %>
    <%= f.submit %>
<% end %>
</div>
