<div class="outercontainer">
    <div class="container-fluid">
<p id="notice" class="alert alert-success"><%= notice %></p>

  <div><strong>Description: </strong>
  <%= @task.description %>
</div>
  <p><strong>Edited: </strong> <%=@task.complete %></p>
  </p>
<br></br>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
</div>
