
<%= form_for(@user, {class: "form-horizontal center"}) do |f| %>

<%= render "layouts/les_mistakes", model: @user%>
    <div class="form-group">
      <div class="col-sm-2">
        <%= f.label :first_name, class: "control-label"%>
      </div>
      <div class="col-sm-4">
        <%= f.text_field :first_name, class: "form-control"%>
      </div>
      <br>
      <br>
    </div>

      <div class="form-group">
        <div class="col-sm-2">
          <%= f.label :last_name, class: "control-label"%>
        </div>
          <div class="col-sm-4 ">
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
          <br>
          <br>
      </div>
      <div class="form-group">
        <div class="col-sm-2">
          <%= f.label "email", class: "control-label"%>
        </div>
          <div class="col-sm-4">
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <br>
          <br>
          <br>
          <div class="form-group">
            <div class="col-sm-2">
            <%= f.label :password, class: "label-control" %>
          </div>
          <div class="col-sm-4">
            <%= f.password_field :password, class: "form-control" %>
          </div>
        </div>
          <br>
          <br>
          <div class="form-group">
            <div class="col-sm-2">
            <%= f.label :password_confirmation, class: "label-control" %>
          </div>
          <div class="col-sm-4">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
          <br>
          <br>
        <div class="form-group">
          <div class="col-sm-2">
            <%= f.label :pivotal_tracker_token, class: "label-control" %>
          </div>
          <div class="col-sm-4">
            <%= f.text_field :pivotal_tracker_token, class: "form-control" %>
          </div>
        </div>

          <br>
          <% if current_user.admin %>
          <div class="chckshift col-sm-offset-2">
            <%= f.check_box :admin%>
            <%= f.label :admin, class: "control-label"%>
          </div>
          <%end%>
          </div>
        <div class="actions col-sm-offset-2">
          <%= f.submit class: 'btn btn-primary'%>
        </div>
<% end %>
