
  <div class="page-header">
    <h2><%= "#{@user.first_name} #{@user.last_name}"%>
      <%if current_user.id == @user.id  || current_user.admin%>
        <%= link_to("edit", edit_user_path(@user), class: "btn btn-info pull-right")%>
        <% end %>
    </h2>
  </div>
    <div class="row">
      <div class="col-md-12">
        <%= "First name: #{@user.first_name}"%>
        <br>
        <br>
        <%= "Last name: #{@user.last_name}"%>
        <br>
        <br>
        <% if current_user.id == @user.id || current_user.admin || @common_users.include?(@user.id)%>
          <%= "email: #{@user.email}" %>
        <% end %>
        <br>
        <br>
        <% if current_user.id == @user.id  || current_user.admin %>
           <% unless @user.pivotal_tracker_token.nil?%>
             <% pivtoken_adjusted= "*" * (@user.pivotal_tracker_token.length - 4) %>

             <% new_piv_token = "#{@user.pivotal_tracker_token[0..3]}#{pivtoken_adjusted}"%>
          <%=  "Pivotal Tracker Token: #{new_piv_token}" %>
          <% end %>
          <br>
          <% end %>

      </div>
    </div>
