
      <h1><strong>About</strong></h1>
      <br>
      <br>
      <%= image_tag "meeting1.png", class: "col-md-4" %>
      <h4 class="col-md-8 ">This is the about page for gCamp. The best way to
        to see if you like our project manager is to try us out.</h4>

      <h4 class="col-md-8 ">If you want more infomation about this page we suggestion you
          visit the rest of our website.  Please sigin and start a project or
          two.</h4>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <%= pluralize(Project.count, "Project")%>
        <%= pluralize(Membership.count, "Membership")%>
        <%= pluralize(Task.count, "Task")%>
        <%=pluralize(Comment.count, "Comment")%>
