<%= form_for(@project,{class: "form-horizontal"}) do |p| %>
<%= render "layouts/le_mistakes", model: @project %>

  <div class="form-group">
    <div class="col-md-1">
      <%= p.label :name, class: "label-control"  %>
    </div>
    <div class="col-md-3">
      <%= p.text_field :name, class: "form-control" %>
    </div>
    <br>
    <br>
    <div class="bobby">
  <div class="actions col-md-offset-1">
    <%= p.submit class: 'btn btn-primary'%>
  </div>
</div>

<% end %>
