<%= form_for(@project,{class: "form-horizontal"}) do |p| %>

  <% if @project.errors.any? %>

    <div class="container-fluid col-sm-offset-1">
      <div id="error_explanation" class="col-sm-3 alert alert-danger">
        <h4><%= pluralize(@project.errors.count, "error") %></h4>
        <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message%></li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>

  <div class="form-group">
    <div class="col-md-1">
      <%= p.label :name, class: "label-control"  %>
    </div>
    <div class="col-md-3">
      <%= p.text_field :name, class: "form-control" %>
    </div>
    <br>
    <br>
    <div class="bobby">
  <div class="actions col-md-offset-1">
    <%= p.submit class: 'btn btn-primary'%>
  </div>
</div>

<% end %>
