<br>
<br>
<%if notice !=nil%>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<%end%>
<div class="page-header">
  <h1>
    Projects
    <small class="pull-right">
    <%=link_to "New project", new_project_path, class: "btn btn-info"  %>
    </small>
  </h1>
  <hr>
<!-- </div> -->
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-1">
          Name
        </th>
        <th class="col-md-2 text-center">
          Members
        </th>
        <th class="col-md-2 text-center">
          Tasks
        </th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td class="col-md-1">
          <%= link_to("#{project.name}", project_path(project))%>
        </td>
        <td class="col-md-1 text-center">
          <%= link_to("#{project.memberships.count}", project_memberships_path(project))%>
        </td>
        <td class="col-md-2 text-center">
        <%= link_to("#{project.tasks.count}", project_tasks_path(project))%>
        </td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
  <div class="page-header">
    <h1>
      Pivotal Tracker Projects
    </h1>
    <hr>
  <!-- </div> -->
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-1">
          Name
        </th>
      </tr>
    </thead>

      <tbody>
        <% @tracker.each do |pivotal| %>
        <tr>
          <td class="col-md-1">

            <%@pivotal_id = pivotal[:id] %>

            <%= link_to("#{pivotal[:name]}", ptracker_path(@pivotal_id))%>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
</div>
