<br>
<br>
<div class="container">

<%if notice !=nil%>
<div class=" alert alert-success">
<%= notice %>
</div>
<%end%>
</div>


<h2 class="container">
  Current Project
</h2>
<hr>
<div>
<ol class="breadcrumb">
  <li><%=link_to "Projects", projects_path%></li>
  <li><%= " #{@project.name}" %></li>
</ol>
  <text class="bobby"><%=@project.name %><text>
  <small class="pull-right">
  <%=link_to "Edit", edit_project_path(@project), class: "btn btn-success"%>
  <%=link_to "Destroy", project_path(@project), class: "btn btn-danger",
                                              method: :delete %>
  </small>
  <br>
  <br>
  <p class="shifty"><%= link_to "#{@project.tasks.count} Tasks", project_tasks_path(@project) %></p>
  <p class="shifty"><%= link_to "#{@project.memberships.count} Members", project_memberships_path(@project)  %></p>
<br>
</div>
