<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">
    <title>gCamp
</title>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <%= link_to "gCamp", root_path, class: "navbar-brand" %>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>
          <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user)%>
          <%= link_to "Sign Out", sign_out_path %>
          <% else %>
          <li><%= link_to "Sign Up", sign_up_path%></li>
        <li><%= link_to "Sign In", sign_in_path%></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="outercontainer">
      <%= yield %>
    <hr>

    <footer>
      <div class="row">
      <div class="col-sm-5"><%= link_to_unless_current("About", abouty_path) %>
        | <%= link_to_unless_current("Terms", termy_path) %>
        | <%= link_to_unless_current("FAQ", faqy_path) %>
        | <%= link_to_unless_current("Users", users_path) %>
        | <%= link_to_unless_current("Projects", projects_path) %>
      </div>
      <div class="pull-right">
        <%= link_to "https://github.com/dmr41" do %>
            <%=image_tag("github.png", width: "30em")%>
        <% end %> |

        <%= link_to "https://www.linkedin.com/profile/view?id=127016445&trk=nav_responsive_tab_profile" do %>
            <%=image_tag("linkedin.png", width: "30em")%>
        <% end %> |

        <%= link_to "https://twitter.com/dmr4100" do %>
            <%=image_tag("twitter.png", width: "30em")%>
        <% end %> |

        <%= link_to "https://students.gschool.it/cohorts/3/class_notes" do %>
            <%=image_tag("gschool.png", width: "70em")%>
        <% end %>
      </div>
    </div>
    </footer>
    </div>
  </body>
</html>
